# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
ETHERFUSE_API_KEY=
ETHERFUSE_ENV=

# Banxico
BANXICO_TOKEN=

# Webhook
WEBHOOK_URL=
WEBHOOK_SECRET==
WEBHOOK_SECRET_2==
WEBHOOK_ID=
WEBHOOK_ID2=

WALLET_ENCRYPTION_KEY=

GOOGLE_CLIENT_ID=
